In [1]:
import pandas as pd
import numpy as np
import re
import ast

In [3]:
df = pd.read_csv('ted_main.csv', encoding='iso-8859-1')
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [4]:
df['tags'] = df['tags'].apply(ast.literal_eval)

In [52]:
display(df.isnull().sum())

comments              0
description           0
duration              0
event                 0
film_date             0
languages             0
main_speaker          0
name                  0
num_speaker           0
published_date        0
ratings               0
related_talks         0
speaker_occupation    6
tags                  0
title                 0
url                   0
views                 0
tag_views             0
dtype: int64

In [ ]:
#Eliminamos filas cuyo valor de etiquetas o vistas sea nulo
df.

In [30]:
def tags_views(row):
    result = []
    for tag in row['tags']:
        result.append([tag, row['views']])
    return result

df['tag_views'] = df.apply(lambda row: tags_views(row), axis = 1)

for c in df['tag_views'].head(20):
    display(c)

[['children', 47227110],
 ['creativity', 47227110],
 ['culture', 47227110],
 ['dance', 47227110],
 ['education', 47227110],
 ['parenting', 47227110],
 ['teaching', 47227110]]

[['alternative energy', 3200520],
 ['cars', 3200520],
 ['climate change', 3200520],
 ['culture', 3200520],
 ['environment', 3200520],
 ['global issues', 3200520],
 ['science', 3200520],
 ['sustainability', 3200520],
 ['technology', 3200520]]

[['computers', 1636292],
 ['entertainment', 1636292],
 ['interface design', 1636292],
 ['media', 1636292],
 ['music', 1636292],
 ['performance', 1636292],
 ['simplicity', 1636292],
 ['software', 1636292],
 ['technology', 1636292]]

[['MacArthur grant', 1697550],
 ['activism', 1697550],
 ['business', 1697550],
 ['cities', 1697550],
 ['environment', 1697550],
 ['green', 1697550],
 ['inequality', 1697550],
 ['politics', 1697550],
 ['pollution', 1697550]]

[['Africa', 12005869],
 ['Asia', 12005869],
 ['Google', 12005869],
 ['demo', 12005869],
 ['economics', 12005869],
 ['global development', 12005869],
 ['global issues', 12005869],
 ['health', 12005869],
 ['math', 12005869],
 ['statistics', 12005869],
 ['visualizations', 12005869]]

[['business', 20685401],
 ['culture', 20685401],
 ['entertainment', 20685401],
 ['goal-setting', 20685401],
 ['motivation', 20685401],
 ['potential', 20685401],
 ['psychology', 20685401]]

[['Christianity', 3769987],
 ['God', 3769987],
 ['atheism', 3769987],
 ['comedy', 3769987],
 ['culture', 3769987],
 ['humor', 3769987],
 ['performance', 3769987],
 ['religion', 3769987],
 ['storytelling', 3769987]]

[['architecture', 967741],
 ['collaboration', 967741],
 ['culture', 967741],
 ['design', 967741],
 ['library', 967741]]

[['God', 2567958],
 ['TED Brain Trust', 2567958],
 ['atheism', 2567958],
 ['brain', 2567958],
 ['cognitive science', 2567958],
 ['consciousness', 2567958],
 ['evolution', 2567958],
 ['philosophy', 2567958],
 ['religion', 2567958]]

[['Christianity', 3095993],
 ['God', 3095993],
 ['culture', 3095993],
 ['happiness', 3095993],
 ['leadership', 3095993],
 ['motivation', 3095993],
 ['philanthropy', 3095993],
 ['religion', 3095993]]

[['activism', 1211416],
 ['architecture', 1211416],
 ['collaboration', 1211416],
 ['culture', 1211416],
 ['design', 1211416],
 ['disaster relief', 1211416],
 ['global issues', 1211416],
 ['invention', 1211416],
 ['open-source', 1211416],
 ['philanthropy', 1211416]]

[['TED Prize', 387877],
 ['art', 387877],
 ['culture', 387877],
 ['entertainment', 387877],
 ['film', 387877],
 ['global issues', 387877],
 ['movies', 387877],
 ['peace', 387877],
 ['social change', 387877],
 ['storytelling', 387877]]

[['TED Prize', 693341],
 ['collaboration', 693341],
 ['disease', 693341],
 ['ebola', 693341],
 ['global issues', 693341],
 ['health', 693341],
 ['science', 693341],
 ['technology', 693341]]

[['demo', 4531020],
 ['design', 4531020],
 ['interface design', 4531020],
 ['technology', 4531020]]

[['children', 358304],
 ['design', 358304],
 ['education', 358304],
 ['entrepreneur', 358304],
 ['global issues', 358304],
 ['philanthropy', 358304],
 ['social change', 358304],
 ['technology', 358304]]

[['entertainment', 2702470],
 ['music', 2702470],
 ['performance', 2702470],
 ['violin', 2702470],
 ['wunderkind', 2702470],
 ['youth', 2702470]]

[['creativity', 1628912],
 ['entertainment', 1628912],
 ['music', 1628912],
 ['performance', 1628912],
 ['piano', 1628912],
 ['wunderkind', 1628912]]

[['MacArthur grant', 1415724],
 ['alternative energy', 1415724],
 ['design', 1415724],
 ['engineering', 1415724],
 ['global issues', 1415724],
 ['industrial design', 1415724],
 ['invention', 1415724],
 ['simplicity', 1415724]]

[['DNA', 1074081],
 ['biology', 1074081],
 ['creativity', 1074081],
 ['design', 1074081],
 ['industrial design', 1074081],
 ['invention', 1074081],
 ['nature', 1074081],
 ['product design', 1074081],
 ['science and art', 1074081]]

[['business', 1106561],
 ['collaboration', 1106561],
 ['culture', 1106561],
 ['invention', 1106561],
 ['media', 1106561],
 ['open-source', 1106561],
 ['technology', 1106561],
 ['wikipedia', 1106561]]

In [51]:

first = list(df.loc[0, 'tag_views'])

#tag_data = [row for index, row in df.iterrows() for i in row]
tag_data = []
for index, row in df['tag_views'].iteritems():
    for i in row:
        tag_data.append(i)



tag_views_df = pd.DataFrame(tag_data, columns = ['tags', 'views'])

display(tag_views_df.head(30))
    
    

'''
dftag = pd.DataFrame(first, columns = ['tags', 'views']).set_index()
'''
'''
dftag = pd.DataFrame(first)
dftag = dftag.set_index(dftag.iloc[:, 0])
'''

display(dftag)


#lista = pd.DataFrame(df.loc[0, 'tag_views'])
#display(lista)


'''
df_tags_views = pd.DataFrame.from_dict(list(df['tag_views'])).transpose()
df_tags_views.head()
'''

                  tags     views
0             children  47227110
1           creativity  47227110
2              culture  47227110
3                dance  47227110
4            education  47227110
5            parenting  47227110
6             teaching  47227110
7   alternative energy   3200520
8                 cars   3200520
9       climate change   3200520
10             culture   3200520
11         environment   3200520
12       global issues   3200520
13             science   3200520
14      sustainability   3200520
15          technology   3200520
16           computers   1636292
17       entertainment   1636292
18    interface design   1636292
19               media   1636292
20               music   1636292
21         performance   1636292
22          simplicity   1636292
23            software   1636292
24          technology   1636292
25     MacArthur grant   1697550
26            activism   1697550
27            business   1697550
28              cities   1697550
29         environment   1697550

                     0         1
0
children      children  47227110
creativity  creativity  47227110
culture        culture  47227110
dance            dance  47227110
education    education  47227110
parenting    parenting  47227110
teaching      teaching  47227110

"\ndf_tags_views = pd.DataFrame.from_dict(list(df['tag_views'])).transpose()\ndf_tags_views.head()\n"

In [57]:
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
quandl.ApiConfig.api_key = "FrRQWUBqxyEsq6o3hbUK"

In [58]:
def get_tickers(path):
    companies = pd.read_csv(path)
    ticker_list = list(companies['Ticker'])
    print('Retrieved', str(len(ticker_list)), 'ticker symbols.')
    return ticker_list

def get_prices(ticker):
    print('Retrieving data for', ticker)
    prices = quandl.get('WIKI/' + ticker)['Adj. Close'].reset_index()
    prices['Ticker'] = ticker
    return prices

data = []

ticker_list = get_tickers('companies.csv')

for ticker in ticker_list:
    prices = get_prices(ticker)
    data.append(prices)

Retrieved 30 ticker symbols.
Retrieving data for AAPL
Retrieving data for NFLX
Retrieving data for AMZN
Retrieving data for MSFT
Retrieving data for GOOG
Retrieving data for TSLA
Retrieving data for FB
Retrieving data for AAP
Retrieving data for DIS
Retrieving data for NKE
Retrieving data for UA
Retrieving data for BAC
Retrieving data for CCL
Retrieving data for CI
Retrieving data for AAL
Retrieving data for LUV
Retrieving data for WFC
Retrieving data for WMT
Retrieving data for HD
Retrieving data for ORCL
Retrieving data for IBM
Retrieving data for NCLH
Retrieving data for RCL
Retrieving data for TWX
Retrieving data for FOX
Retrieving data for F
Retrieving data for GCI
Retrieving data for XOM
Retrieving data for WWE
Retrieving data for WM

In [75]:
def get_tickers(path):
    companies = pd.read_csv(path)
    ticker_list = list(companies['Ticker'])
    print('Retrieved', str(len(ticker_list)), 'ticker symbols.')
    return ticker_list

def get_prices(ticker):
    print('Retrieving data for', ticker)
    prices = quandl.get('WIKI/' + ticker)['Adj. Close'].reset_index()
    prices['Ticker'] = ticker
    return prices

def concat_pivot(data, rows, columns, values):

    df = pd.concat(data, sort=True)

    pivot = df.pivot_table(values=values, columns=columns, index=rows)
    return pivot

def compute_returns(df):
    returns = df.pct_change()
    return returns

def return_risk_ratio(df, days=30):
    means = pd.DataFrame(df.tail(days).mean())
    std = pd.DataFrame(df.tail(days).std())
    ratios = pd.concat([means, std], axis=1).reset_index()
    ratios.columns = ['Company', 'Mean', 'Std']
    ratios['Ratio'] = ratios['Mean']/ratios['Std']
    return ratios

def corr_matrix(df, days=30):
    corr_matrix = df.tail(days).corr()
    return corr_matrix

def barchart(df, x, y, length=8, width=14, title=""):
    df = df.sort_values(x, ascending=False)
    plt.figure(figsize=(width,length))
    chart = sns.barplot(data=df, x=x, y=y)
    plt.title(title + "\n", fontsize=16)
    return chart

def correlation_plot(corr, title=""):
    mask = np.zeros_like(corr, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True

    plt.subplots(figsize=(15, 10))
    cmap = sns.diverging_palette(6, 255, as_cmap=True)
    
    chart = sns.heatmap(corr, mask=mask, cmap=cmap, center=0, linewidths=.5, annot=True, fmt='.2f')
    plt.title(title, fontsize=16)
    return chart

def save_viz(chart, title):
    fig = chart.get_figure()
    fig.savefig(title + '.png')

def acquire():
    data = []

    ticker_list = get_tickers('companies.csv')

    for ticker in ticker_list:
        prices = get_prices(ticker)
        display(type(prices))
        data.append(prices)
    return data

def wrangle(data):
    pivot = concat_pivot(data, 'Date', 'Ticker', 'Adj. Close')
    #display(pivot)
    returns = compute_returns(pivot)
    #display(returns)
    return returns

def analyze(returns, days=30):
    ratios = return_risk_ratio(returns, days=days)
    top10 = ratios.sort_values('Ratio', ascending=False).head(10)
    
    target_list = returns[list(top10['Company'])]
    correlation = corr_matrix(target_list)
    return top10, correlation

def report(top10, correlation):
    bar_plot = barchart(top10, 'Ratio', 'Company', title='Stock Return vs. Risk Ratios - ' + str(day) + ' Days')
    save_viz(bar_plot, 'Return vs. Risk Top 10 - ' + str(day) + ' Days')
    
    corr_plot = correlation_plot(correlation, title='Stock Return Correlation - ' + str(day) + ' Days')
    save_viz(corr_plot, 'Correlation Plot - ' + str(day) + ' Days')

In [72]:
display(data)

[           Date  Adj. Close Ticker
 0    1980-12-12    0.422706   AAPL
 1    1980-12-15    0.400652   AAPL
 2    1980-12-16    0.371246   AAPL
 3    1980-12-17    0.380362   AAPL
 4    1980-12-18    0.391536   AAPL
 5    1980-12-19    0.415355   AAPL
 6    1980-12-22    0.435644   AAPL
 7    1980-12-23    0.454023   AAPL
 8    1980-12-24    0.477841   AAPL
 9    1980-12-26    0.521950   AAPL
 10   1980-12-29    0.529301   AAPL
 11   1980-12-30    0.516363   AAPL
 12   1980-12-31    0.501807   AAPL
 13   1981-01-02    0.507247   AAPL
 14   1981-01-05    0.496220   AAPL
 15   1981-01-06    0.474166   AAPL
 16   1981-01-07    0.454023   AAPL
 17   1981-01-08    0.444760   AAPL
 18   1981-01-09    0.468726   AAPL
 19   1981-01-12    0.464903   AAPL
 20   1981-01-13    0.448436   AAPL
 21   1981-01-14    0.450347   AAPL
 22   1981-01-15    0.459463   AAPL
 23   1981-01-16    0.455787   AAPL
 24   1981-01-19    0.483282   AAPL
 25   1981-01-20    0.468726   AAPL
 26   1981-01-21    0.477841   AAPL
 27   1981-01-22    0.483282   AAPL
 28   1981-01-23    0.481517   AAPL
 29   1981-01-26    0.474166   AAPL
 ...         ...         ...    ...
 9370 2018-02-13  164.340000   AAPL
 9371 2018-02-14  167.370000   AAPL
 9372 2018-02-15  172.990000   AAPL
 9373 2018-02-16  172.430000   AAPL
 9374 2018-02-20  171.850000   AAPL
 9375 2018-02-21  171.070000   AAPL
 9376 2018-02-22  172.600000   AAPL
 9377 2018-02-23  175.555000   AAPL
 9378 2018-02-26  178.970000   AAPL
 9379 2018-02-27  178.390000   AAPL
 9380 2018-02-28  178.120000   AAPL
 9381 2018-03-01  175.000000   AAPL
 9382 2018-03-02  176.210000   AAPL
 9383 2018-03-05  176.820000   AAPL
 9384 2018-03-06  176.670000   AAPL
 9385 2018-03-07  175.030000   AAPL
 9386 2018-03-08  176.940000   AAPL
 9387 2018-03-09  179.980000   AAPL
 9388 2018-03-12  181.720000   AAPL
 9389 2018-03-13  179.970000   AAPL
 9390 2018-03-14  178.440000   AAPL
 9391 2018-03-15  178.650000   AAPL
 9392 2018-03-16  178.020000   AAPL
 9393 2018-03-19  175.300000   AAPL
 9394 2018-03-20  175.240000   AAPL
 9395 2018-03-21  171.270000   AAPL
 9396 2018-03-22  168.845000   AAPL
 9397 2018-03-23  164.940000   AAPL
 9398 2018-03-26  172.770000   AAPL
 9399 2018-03-27  168.340000   AAPL

 [9400 rows x 3 columns],            Date  Adj. Close Ticker
 0    2002-05-23    1.196429   NFLX
 1    2002-05-24    1.210000   NFLX
 2    2002-05-28    1.157143   NFLX
 3    2002-05-29    1.103571   NFLX
 4    2002-05-30    1.071429   NFLX
 5    2002-05-31    1.076429   NFLX
 6    2002-06-03    1.128571   NFLX
 7    2002-06-04    1.117857   NFLX
 8    2002-06-05    1.147143   NFLX
 9    2002-06-06    1.182143   NFLX
 10   2002-06-07    1.118571   NFLX
 11   2002-06-10    1.156429   NFLX
 12   2002-06-11    1.153571   NFLX
 13   2002-06-12    1.092857   NFLX
 14   2002-06-13    1.082857   NFLX
 15   2002-06-14    0.986429   NFLX
 16   2002-06-17    0.922143   NFLX
 17   2002-06-18    0.910714   NFLX
 18   2002-06-19    0.951429   NFLX
 19   2002-06-20    0.957143   NFLX
 20   2002-06-21    0.979286   NFLX
 21   2002-06-24    0.978571   NFLX
 22   2002-06-25    0.964286   NFLX
 23   2002-06-26    0.988571   NFLX
 24   2002-06-27    0.943571   NFLX
 25   2002-06-28    0.999286   NFLX
 26   2002-07-01    1.027857   NFLX
 27   2002-07-02    1.172857   NFLX
 28   2002-07-03    1.214286   NFLX
 29   2002-07-05    1.276429   NFLX
 ...         ...         ...    ...
 3958 2018-02-13  258.270000   NFLX
 3959 2018-02-14  266.000000   NFLX
 3960 2018-02-15  280.270000   NFLX
 3961 2018-02-16  278.520000   NFLX
 3962 2018-02-20  278.550000   NFLX
 3963 2018-02-21  281.040000   NFLX
 3964 2018-02-22  278.140000   NFLX
 3965 2018-02-23  285.930000   NFLX
 3966 2018-02-26  294.160000   NFLX
 3967 2018-02-27  290.610000   NFLX
 3968 2018-02-28  291.380000   NFLX
 3969 2018-03-01  290.390000   NFLX
 3970 2018-03-02  301.050000   NFLX
 3971 2018-03-05  315.000000   NFLX
 3972 2018-03-06  325.220000   NFLX
 3973 2018-03-07  321.160000   NFLX
 3974 2018-03-08  317.000000   NFLX
 3975 2018-03-09  331.440000   NFLX
 3976 2018-03-12  321.300000   NFLX
 3977 2018-03-13  315.880000   NFLX
 3978 2018-03-14  321.550000   NFLX
 3979 2018-03-15  321.090000   NFLX
 3980 2018-03-16  318.450000   NFLX
 3981 2018-03-19  313.480000   NFLX
 3982 2018-03-20  317.500000   NFLX
 3983 2018-03-21  316.480000   NFLX
 3984 2018-03-22  306.700000   NFLX
 3985 2018-03-23  300.940000   NFLX
 3986 2018-03-26  320.350000   NFLX
 3987 2018-03-27  300.690000   NFLX

 [3988 rows x 3 columns],            Date   Adj. Close Ticker
 0    1997-05-16     1.729167   AMZN
 1    1997-05-19     1.708333   AMZN
 2    1997-05-20     1.635833   AMZN
 3    1997-05-21     1.427500   AMZN
 4    1997-05-22     1.395833   AMZN
 5    1997-05-23     1.500000   AMZN
 6    1997-05-27     1.583333   AMZN
 7    1997-05-28     1.531667   AMZN
 8    1997-05-29     1.505000   AMZN
 9    1997-05-30     1.500000   AMZN
 10   1997-06-02     1.510833   AMZN
 11   1997-06-03     1.479167   AMZN
 12   1997-06-04     1.416667   AMZN
 13   1997-06-05     1.541667   AMZN
 14   1997-06-06     1.656667   AMZN
 15   1997-06-09     1.687500   AMZN
 16   1997-06-10     1.583333   AMZN
 17   1997-06-11     1.541667   AMZN
 18   1997-06-12     1.604167   AMZN
 19   1997-06-13     1.583333   AMZN
 20   1997-06-16     1.573333   AMZN
 21   1997-06-17     1.505000   AMZN
 22   1997-06-18     1.510833   AMZN
 23   1997-06-19     1.510833   AMZN
 24   1997-06-20     1.525833   AMZN
 25   1997-06-23     1.500000   AMZN
 26   1997-06-24     1.510833   AMZN
 27   1997-06-25     1.510833   AMZN
 28   1997-06-26     1.510833   AMZN
 29   1997-06-27     1.490000   AMZN
 ...         ...          ...    ...
 5218 2018-02-13  1414.510000   AMZN
 5219 2018-02-14  1451.050000   AMZN
 5220 2018-02-15  1461.760000   AMZN
 5221 2018-02-16  1448.690000   AMZN
 5222 2018-02-20  1468.350000   AMZN
 5223 2018-02-21  1482.920000   AMZN
 5224 2018-02-22  1484.760000   AMZN
 5225 2018-02-23  1500.000000   AMZN
 5226 2018-02-26  1521.950000   AMZN
 5227 2018-02-27  1511.980000   AMZN
 5228 2018-02-28  1512.450000   AMZN
 5229 2018-03-01  1493.450000   AMZN
 5230 2018-03-02  1500.250000   AMZN
 5231 2018-03-05  1523.610000   AMZN
 5232 2018-03-06  1537.640000   AMZN
 5233 2018-03-07  1545.000000   AMZN
 5234 2018-03-08  1551.860000   AMZN
 5235 2018-03-09  1578.890000   AMZN
 5236 2018-03-12  1598.390000   AMZN
 5237 2018-03-13  1588.180000   AMZN
 5238 2018-03-14  1591.000000   AMZN
 5239 2018-03-15  1582.320000   AMZN
 5240 2018-03-16  1571.680000   AMZN
 5241 2018-03-19  1544.930000   AMZN
 5242 2018-03-20  1586.510000   AMZN
 5243 2018-03-21  1581.860000   AMZN
 5244 2018-03-22  1544.100000   AMZN
 5245 2018-03-23  1495.560000   AMZN
 5246 2018-03-26  1555.860000   AMZN
 5247 2018-03-27  1497.050000   AMZN

 [5248 rows x 3 columns],            Date  Adj. Close Ticker
 0    1986-03-13    0.064720   MSFT
 1    1986-03-14    0.067031   MSFT
 2    1986-03-17    0.068187   MSFT
 3    1986-03-18    0.066454   MSFT
 4    1986-03-19    0.065298   MSFT
 5    1986-03-20    0.063564   MSFT
 6    1986-03-21    0.061831   MSFT
 7    1986-03-24    0.060097   MSFT
 8    1986-03-25    0.061253   MSFT
 9    1986-03-26    0.062986   MSFT
 10   1986-03-27    0.064142   MSFT
 11   1986-03-31    0.063564   MSFT
 12   1986-04-01    0.062986   MSFT
 13   1986-04-02    0.063564   MSFT
 14   1986-04-03    0.064142   MSFT
 15   1986-04-04    0.064142   MSFT
 16   1986-04-07    0.062986   MSFT
 17   1986-04-08    0.063564   MSFT
 18   1986-04-09    0.064720   MSFT
 19   1986-04-10    0.065298   MSFT
 20   1986-04-11    0.066454   MSFT
 21   1986-04-14    0.067031   MSFT
 22   1986-04-15    0.067031   MSFT
 23   1986-04-16    0.069343   MSFT
 24   1986-04-17    0.069921   MSFT
 25   1986-04-18    0.067609   MSFT
 26   1986-04-21    0.067609   MSFT
 27   1986-04-22    0.066454   MSFT
 28   1986-04-23    0.066731   MSFT
 29   1986-04-24    0.073388   MSFT
 ...         ...         ...    ...
 8046 2018-02-13   89.830000   MSFT
 8047 2018-02-14   90.810000   MSFT
 8048 2018-02-15   92.660000   MSFT
 8049 2018-02-16   92.000000   MSFT
 8050 2018-02-20   92.720000   MSFT
 8051 2018-02-21   91.490000   MSFT
 8052 2018-02-22   91.740000   MSFT
 8053 2018-02-23   94.060000   MSFT
 8054 2018-02-26   95.420000   MSFT
 8055 2018-02-27   94.200000   MSFT
 8056 2018-02-28   93.770000   MSFT
 8057 2018-03-01   92.850000   MSFT
 8058 2018-03-02   93.050000   MSFT
 8059 2018-03-05   93.640000   MSFT
 8060 2018-03-06   93.320000   MSFT
 8061 2018-03-07   93.860000   MSFT
 8062 2018-03-08   94.430000   MSFT
 8063 2018-03-09   96.540000   MSFT
 8064 2018-03-12   96.770000   MSFT
 8065 2018-03-13   94.410000   MSFT
 8066 2018-03-14   93.850000   MSFT
 8067 2018-03-15   94.180000   MSFT
 8068 2018-03-16   94.600000   MSFT
 8069 2018-03-19   92.890000   MSFT
 8070 2018-03-20   93.130000   MSFT
 8071 2018-03-21   92.480000   MSFT
 8072 2018-03-22   89.790000   MSFT
 8073 2018-03-23   87.180000   MSFT
 8074 2018-03-26   93.780000   MSFT
 8075 2018-03-27   89.470000   MSFT

 [8076 rows x 3 columns],            Date  Adj. Close Ticker
 0    2014-03-27      558.46   GOOG
 1    2014-03-28      559.99   GOOG
 2    2014-03-31      556.97   GOOG
 3    2014-04-01      567.16   GOOG
 4    2014-04-02      567.00   GOOG
 5    2014-04-03      569.74   GOOG
 6    2014-04-04      543.14   GOOG
 7    2014-04-07      538.15   GOOG
 8    2014-04-08      554.90   GOOG
 9    2014-04-09      564.14   GOOG
 10   2014-04-10      540.95   GOOG
 11   2014-04-11      530.60   GOOG
 12   2014-04-14      532.52   GOOG
 13   2014-04-15      536.44   GOOG
 14   2014-04-16      556.54   GOOG
 15   2014-04-17      536.10   GOOG
 16   2014-04-21      528.62   GOOG
 17   2014-04-22      534.81   GOOG
 18   2014-04-23      526.94   GOOG
 19   2014-04-24      525.16   GOOG
 20   2014-04-25      516.18   GOOG
 21   2014-04-28      517.15   GOOG
 22   2014-04-29      527.70   GOOG
 23   2014-04-30      526.66   GOOG
 24   2014-05-01      531.35   GOOG
 25   2014-05-02      527.93   GOOG
 26   2014-05-05      527.81   GOOG
 27   2014-05-06      515.14   GOOG
 28   2014-05-07      509.96   GOOG
 29   2014-05-08      511.00   GOOG
 ...         ...         ...    ...
 977  2018-02-13     1052.10   GOOG
 978  2018-02-14     1069.70   GOOG
 979  2018-02-15     1089.52   GOOG
 980  2018-02-16     1094.80   GOOG
 981  2018-02-20     1102.46   GOOG
 982  2018-02-21     1111.34   GOOG
 983  2018-02-22     1106.63   GOOG
 984  2018-02-23     1126.79   GOOG
 985  2018-02-26     1143.75   GOOG
 986  2018-02-27     1118.29   GOOG
 987  2018-02-28     1104.73   GOOG
 988  2018-03-01     1069.52   GOOG
 989  2018-03-02     1078.92   GOOG
 990  2018-03-05     1090.93   GOOG
 991  2018-03-06     1095.06   GOOG
 992  2018-03-07     1109.64   GOOG
 993  2018-03-08     1126.00   GOOG
 994  2018-03-09     1160.04   GOOG
 995  2018-03-12     1164.50   GOOG
 996  2018-03-13     1138.17   GOOG
 997  2018-03-14     1149.49   GOOG
 998  2018-03-15     1149.58   GOOG
 999  2018-03-16     1135.73   GOOG
 1000 2018-03-19     1099.82   GOOG
 1001 2018-03-20     1097.71   GOOG
 1002 2018-03-21     1090.88   GOOG
 1003 2018-03-22     1049.08   GOOG
 1004 2018-03-23     1021.57   GOOG
 1005 2018-03-26     1053.21   GOOG
 1006 2018-03-27     1005.10   GOOG

 [1007 rows x 3 columns],            Date  Adj. Close Ticker
 0    2010-06-29      23.890   TSLA
 1    2010-06-30      23.830   TSLA
 2    2010-07-01      21.960   TSLA
 3    2010-07-02      19.200   TSLA
 4    2010-07-06      16.110   TSLA
 5    2010-07-07      15.800   TSLA
 6    2010-07-08      17.460   TSLA
 7    2010-07-09      17.400   TSLA
 8    2010-07-12      17.050   TSLA
 9    2010-07-13      18.140   TSLA
 10   2010-07-14      19.840   TSLA
 11   2010-07-15      19.890   TSLA
 12   2010-07-16      20.640   TSLA
 13   2010-07-19      21.910   TSLA
 14   2010-07-20      20.300   TSLA
 15   2010-07-21      20.220   TSLA
 16   2010-07-22      21.000   TSLA
 17   2010-07-23      21.290   TSLA
 18   2010-07-26      20.950   TSLA
 19   2010-07-27      20.550   TSLA
 20   2010-07-28      20.720   TSLA
 21   2010-07-29      20.350   TSLA
 22   2010-07-30      19.940   TSLA
 23   2010-08-02      20.920   TSLA
 24   2010-08-03      21.950   TSLA
 25   2010-08-04      21.260   TSLA
 26   2010-08-05      20.450   TSLA
 27   2010-08-06      19.590   TSLA
 28   2010-08-09      19.600   TSLA
 29   2010-08-10      19.030   TSLA
 ...         ...         ...    ...
 1919 2018-02-13     323.660   TSLA
 1920 2018-02-14     322.310   TSLA
 1921 2018-02-15     334.065   TSLA
 1922 2018-02-16     335.490   TSLA
 1923 2018-02-20     334.770   TSLA
 1924 2018-02-21     333.300   TSLA
 1925 2018-02-22     346.170   TSLA
 1926 2018-02-23     352.050   TSLA
 1927 2018-02-26     357.420   TSLA
 1928 2018-02-27     350.990   TSLA
 1929 2018-02-28     343.060   TSLA
 1930 2018-03-01     330.930   TSLA
 1931 2018-03-02     335.120   TSLA
 1932 2018-03-05     333.350   TSLA
 1933 2018-03-06     328.200   TSLA
 1934 2018-03-07     332.300   TSLA
 1935 2018-03-08     329.100   TSLA
 1936 2018-03-09     327.170   TSLA
 1937 2018-03-12     345.510   TSLA
 1938 2018-03-13     341.840   TSLA
 1939 2018-03-14     326.630   TSLA
 1940 2018-03-15     325.600   TSLA
 1941 2018-03-16     321.350   TSLA
 1942 2018-03-19     313.560   TSLA
 1943 2018-03-20     310.550   TSLA
 1944 2018-03-21     316.530   TSLA
 1945 2018-03-22     309.100   TSLA
 1946 2018-03-23     301.540   TSLA
 1947 2018-03-26     304.180   TSLA
 1948 2018-03-27     279.180   TSLA

 [1949 rows x 3 columns],            Date  Adj. Close Ticker
 0    2012-05-18     38.2318     FB
 1    2012-05-21     34.0300     FB
 2    2012-05-22     31.0000     FB
 3    2012-05-23     32.0000     FB
 4    2012-05-24     33.0300     FB
 5    2012-05-25     31.9100     FB
 6    2012-05-29     28.8400     FB
 7    2012-05-30     28.1900     FB
 8    2012-05-31     29.6000     FB
 9    2012-06-01     27.7200     FB
 10   2012-06-04     26.9000     FB
 11   2012-06-05     25.8690     FB
 12   2012-06-06     26.8100     FB
 13   2012-06-07     26.3100     FB
 14   2012-06-08     27.1000     FB
 15   2012-06-11     27.0050     FB
 16   2012-06-12     27.4000     FB
 17   2012-06-13     27.2700     FB
 18   2012-06-14     28.2900     FB
 19   2012-06-15     30.0140     FB
 20   2012-06-18     31.4100     FB
 21   2012-06-19     31.9110     FB
 22   2012-06-20     31.6000     FB
 23   2012-06-21     31.8400     FB
 24   2012-06-22     33.0500     FB
 25   2012-06-25     32.0600     FB
 26   2012-06-26     33.1000     FB
 27   2012-06-27     32.2300     FB
 28   2012-06-28     31.3600     FB
 29   2012-06-29     31.0950     FB
 ...         ...         ...    ...
 1442 2018-02-13    173.1500     FB
 1443 2018-02-14    179.5200     FB
 1444 2018-02-15    179.9600     FB
 1445 2018-02-16    177.3600     FB
 1446 2018-02-20    176.0100     FB
 1447 2018-02-21    177.9100     FB
 1448 2018-02-22    178.9900     FB
 1449 2018-02-23    183.2900     FB
 1450 2018-02-26    184.9300     FB
 1451 2018-02-27    181.4600     FB
 1452 2018-02-28    178.3200     FB
 1453 2018-03-01    175.9400     FB
 1454 2018-03-02    176.6200     FB
 1455 2018-03-05    180.4000     FB
 1456 2018-03-06    179.7800     FB
 1457 2018-03-07    183.7100     FB
 1458 2018-03-08    182.3400     FB
 1459 2018-03-09    185.2300     FB
 1460 2018-03-12    184.7600     FB
 1461 2018-03-13    181.8800     FB
 1462 2018-03-14    184.1900     FB
 1463 2018-03-15    183.8600     FB
 1464 2018-03-16    185.0900     FB
 1465 2018-03-19    172.5600     FB
 1466 2018-03-20    168.1500     FB
 1467 2018-03-21    169.3900     FB
 1468 2018-03-22    164.8900     FB
 1469 2018-03-23    159.3900     FB
 1470 2018-03-26    160.0600     FB
 1471 2018-03-27    152.1900     FB

 [1472 rows x 3 columns],            Date  Adj. Close Ticker
 0    2001-11-29   13.271470    AAP
 1    2001-11-30   13.637470    AAP
 2    2001-12-03   13.160079    AAP
 3    2001-12-04   12.634949    AAP
 4    2001-12-05   14.003470    AAP
 5    2001-12-06   13.914357    AAP
 6    2001-12-07   14.003470    AAP
 7    2001-12-10   13.955731    AAP
 8    2001-12-11   13.927087    AAP
 9    2001-12-12   13.462427    AAP
 10   2001-12-13   13.335122    AAP
 11   2001-12-14   13.013679    AAP
 12   2001-12-17   13.048688    AAP
 13   2001-12-18   13.048688    AAP
 14   2001-12-19   13.064601    AAP
 15   2001-12-20   13.462427    AAP
 16   2001-12-21   14.429939    AAP
 17   2001-12-24   14.576339    AAP
 18   2001-12-26   14.639991    AAP
 19   2001-12-27   14.942339    AAP
 20   2001-12-28   14.974165    AAP
 21   2001-12-31   15.833469    AAP
 22   2002-01-02   15.206495    AAP
 23   2002-01-03   14.417209    AAP
 24   2002-01-04   13.526079    AAP
 25   2002-01-07   13.303296    AAP
 26   2002-01-08   13.080514    AAP
 27   2002-01-09   13.112340    AAP
 28   2002-01-10   13.398775    AAP
 29   2002-01-11   13.844340    AAP
 ...         ...         ...    ...
 4078 2018-02-13  106.220000    AAP
 4079 2018-02-14  109.020000    AAP
 4080 2018-02-15  108.780000    AAP
 4081 2018-02-16  107.570000    AAP
 4082 2018-02-20  105.350000    AAP
 4083 2018-02-21  114.000000    AAP
 4084 2018-02-22  110.490000    AAP
 4085 2018-02-23  116.320000    AAP
 4086 2018-02-26  114.850000    AAP
 4087 2018-02-27  109.800000    AAP
 4088 2018-02-28  114.250000    AAP
 4089 2018-03-01  117.510000    AAP
 4090 2018-03-02  116.070000    AAP
 4091 2018-03-05  116.360000    AAP
 4092 2018-03-06  118.590000    AAP
 4093 2018-03-07  116.770000    AAP
 4094 2018-03-08  115.750000    AAP
 4095 2018-03-09  118.860000    AAP
 4096 2018-03-12  118.410000    AAP
 4097 2018-03-13  119.000000    AAP
 4098 2018-03-14  117.060000    AAP
 4099 2018-03-15  117.100000    AAP
 4100 2018-03-16  116.630000    AAP
 4101 2018-03-19  115.870000    AAP
 4102 2018-03-20  114.250000    AAP
 4103 2018-03-21  115.240000    AAP
 4104 2018-03-22  111.710000    AAP
 4105 2018-03-23  110.840000    AAP
 4106 2018-03-26  114.770000    AAP
 4107 2018-03-27  115.010000    AAP

 [4108 rows x 3 columns],             Date  Adj. Close Ticker
 0     1962-01-02    0.141259    DIS
 1     1962-01-03    0.143155    DIS
 2     1962-01-04    0.143155    DIS
 3     1962-01-05    0.143648    DIS
 4     1962-01-08    0.143155    DIS
 5     1962-01-09    0.145999    DIS
 6     1962-01-10    0.147402    DIS
 7     1962-01-11    0.151687    DIS
 8     1962-01-12    0.146947    DIS
 9     1962-01-15    0.146947    DIS
 10    1962-01-16    0.143155    DIS
 11    1962-01-17    0.138414    DIS
 12    1962-01-18    0.141259    DIS
 13    1962-01-19    0.144103    DIS
 14    1962-01-22    0.146492    DIS
 15    1962-01-23    0.145999    DIS
 16    1962-01-24    0.144103    DIS
 17    1962-01-25    0.142207    DIS
 18    1962-01-26    0.141259    DIS
 19    1962-01-29    0.141259    DIS
 20    1962-01-30    0.142207    DIS
 21    1962-01-31    0.142207    DIS
 22    1962-02-01    0.144103    DIS
 23    1962-02-02    0.144103    DIS
 24    1962-02-05    0.144103    DIS
 25    1962-02-06    0.143155    DIS
 26    1962-02-07    0.145051    DIS
 27    1962-02-08    0.148843    DIS
 28    1962-02-09    0.149791    DIS
 29    1962-02-12    0.149791    DIS
 ...          ...         ...    ...
 14125 2018-02-13  104.120000    DIS
 14126 2018-02-14  104.600000    DIS
 14127 2018-02-15  105.180000    DIS
 14128 2018-02-16  106.530000    DIS
 14129 2018-02-20  105.980000    DIS
 14130 2018-02-21  105.050000    DIS
 14131 2018-02-22  105.240000    DIS
 14132 2018-02-23  107.250000    DIS
 14133 2018-02-26  109.810000    DIS
 14134 2018-02-27  104.870000    DIS
 14135 2018-02-28  103.160000    DIS
 14136 2018-03-01  102.570000    DIS
 14137 2018-03-02  102.990000    DIS
 14138 2018-03-05  103.410000    DIS
 14139 2018-03-06  104.940000    DIS
 14140 2018-03-07  103.590000    DIS
 14141 2018-03-08  104.030000    DIS
 14142 2018-03-09  104.730000    DIS

In [76]:
data = acquire()
returns = wrangle(data)

Retrieved 30 ticker symbols.
Retrieving data for AAPL

pandas.core.frame.DataFrame

Retrieving data for NFLX

pandas.core.frame.DataFrame

Retrieving data for AMZN

pandas.core.frame.DataFrame

Retrieving data for MSFT

pandas.core.frame.DataFrame

Retrieving data for GOOG

pandas.core.frame.DataFrame

Retrieving data for TSLA

pandas.core.frame.DataFrame

Retrieving data for FB

pandas.core.frame.DataFrame

Retrieving data for AAP

pandas.core.frame.DataFrame

Retrieving data for DIS

pandas.core.frame.DataFrame

Retrieving data for NKE

pandas.core.frame.DataFrame

Retrieving data for UA

pandas.core.frame.DataFrame

Retrieving data for BAC

pandas.core.frame.DataFrame

Retrieving data for CCL

pandas.core.frame.DataFrame

Retrieving data for CI

pandas.core.frame.DataFrame

Retrieving data for AAL

pandas.core.frame.DataFrame

Retrieving data for LUV

KeyboardInterrupt:

SyntaxError: invalid syntax (<ipython-input-74-6a7f826f7c21>, line 1)